
html{
  background-color: black;
  color: white;

}
body{
  padding:0;
  margin:0;
  font-family: arial;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.container{
/* border: 1px solid white; */
  display: flex;
  justify-content: center;
  align-items: center;
  width:100vw;
  height:100vh;


}
.box{

  width: 100px;
  height: 50px;
  background-color: rgba(50,150,50,1);
  /* transform: translate(50px, 50px); */
}
